html {
  font-family: Verdana, sans-serif;
  background-color: black;
}
h1,
h2,
p   {
    color: white;
    text-align: center;
}
h1 {
  font-weight: normal;
  font-size: 50px;

}
h2 {
  font-weight: 300;
  font-size: 42px;
}
p,
h3 {
  font-size: 21px;
  color: gray;
}
#link {
  font-size: 16px;
  color: aquamarine;
  text-decoration: underline;
}
h3 {
  text-align: right;
  font-weight: normal;
}
